body, html {
    height: 100%;
    margin:0px;
    padding:0px;
}

.bg {
    /* The image used */
    background-image: url("/Content/Site/img/PageNotFound/Pagenotfound.jpg");
    /* Full height */
    height: 100%;
    width:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


